<!DOCTYPE html>
<html>
    <head>
        <title>homeedhelpers.co.uk - Handwriting practice paper</title>
        <meta name="description" content="Make full-page custom handwriting worksheets in seconds!"/>
        <script src="https://unpkg.com/vue"></script>
        <link href="stylesheet.css" rel="stylesheet">
        <link href="stylesheet.print.css" rel="stylesheet">
        <script async defer data-domain="home-ed-helpers.co.uk" src="https://plausible.io/js/plausible.js"></script>
    </head>
    <body>
        <main id="app">
            <div id="header">
                <h1>Handwriting practice paper</h1>
                <p id="sorrynotresponsive" data-nosnippet>Sorry! You'll need to use a device with a larger screen for this to work.</p>
                <p>Make full-page custom handwriting worksheets in seconds!</p>
                <ol id="instructions">
                    <li>Select a writing style: <i>Primary (d'nealian)</i> or <i>cursive</i></li>
                    <li>Type your handwriting worksheet content and test how you want it to appear</li>
                    <li>Select your letter size</li>
                    <li>Click <i>Print</i> for a copy of your writing worksheet for immediate use
                    </li>
                </ol>
            </div>
            <div id="edit">
                <textarea v-model="message"></textarea>
            </div>
            <div id="font">
                <formgroup>
                    <label for="dot">Font: </label>
                    <select v-model="font">
                    <option id="dot" value="KG Primary Dots" selected>Primary</option>
                    <option id="dot-line-cursive" value="Learning Curve Dashed" >Dots lined Cursive</option>
                </select>
                </formgroup>
                <formgroup>
                    <label for="lines">Show lines: </label>
                    <input type="checkbox" v-model="showLines"/>
                </formgroup>
                <formgroup>
                    <label for="align">Align: </label>
                    <select id="align" v-model="textAlign">
                        <option id="to-left" value="left" selected>Left</option>
                        <option id="to-center" value="center">Center</option>
                        <option id="to-right" value="right">Right</option>
                    </select>
                </formgroup>
                <formgroup>
                    <label for="scale">Font Size</label>
                    <select id="scale" v-model="scale">
                        <option id="large" value="large" selected>Large</option>
                        <option id="small" value="small">Small</option>
                    </select>
                </formgroup>
                <formgroup>
                    <button onClick={window.print()}>Print</button>
                </formgroup>
            </div>
            <div id="printarea" :style="printStyle">
                <section id="printarea__header">
                    <p>Student name: ______________________</p>
                    <p>Date: ___________</p>
                </section>
                <p :class="scale" v-for="line in lines" :style="lineStyle">
                    <img src="./images/handwriting-singleline-large.png" alt="lined background " v-if="showLines === true && scale === 'large'"/>
                    <img src="./images/handwriting-singleline-small.png" alt="lined background " v-if="showLines === true && scale === 'small'" />
                    {{ line }}
                </p>
            </div>
            <hr/>
            <h2>Frequently asked questions</h2>
            <ol>
                <li>
                    <strong>Q1. What is this?</strong>
                    <i>This is a tool to help teachers and home educators give their students and children custom handwriting worksheets learn how to write.</i>
                </li>
                <li>
                    <strong>Q2. How do I use it?</strong>
                    <i>Enter the text you want your student or child to write into the text box provided. Click the "print" button, and your printer dialog will appear. We have configured the print version to contain an area for the student to write their name and the date on the printed sheet.</i>
                </li>
                <li>
                    <strong>Q2. Is there a charge for this service?</strong>
                    <i>No. This service is provided free of charge. We hope to make it pay for itself by the use of advertising in the future.</i>
                </li>
                <li>
                    <strong>Q3. How do I contact you?</strong>
                    <i>You can email homeedhelpers@gmail.com to send feature suggestions and bug reports. We will read your email but cannot guarantee a response.</i>
                </li>
            </ol>
            <p id="footer"><small>This website doesn't use cookies, and it doesn't track you across the web. We use anonymous analytics to help us improve your experience.</small></p>
        </main>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Edit me!',
                    font: 'KG Primary Dots',
                    scale: 'large',
                    textAlign: 'left',
                    showLines: true
                },
                computed: {
                    lines: function () {
                        return this
                            .message
                            .split("\n")
                            .map(l => l.trim())
                    },
                    lineStyle: function () {
                        return {
                            fontSize: this.scale === 'large' ?  `152px` : `40px`,
                            fontFamily: this.font,
                            lineHeight: this.scale === 'large' ?  `1.3` : `1.2`,
                        }
                    },
                    printStyle: function () {
                        return {
                            textAlign: this.textAlign,
                            paddingTop: this.scale === 'large' ? `40px` : `72px`
                        }
                    },
                }
            })
        </script>
    </body>
</html>
