
@font-face {
    font-family: 'KG Primary Dots';
    src: url('fonts/KGPrimaryDots.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Learning Curve Dashed';
    src: url('fonts/LearningCurveDashed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: sans-serif;
}

body {
    background-color: linen;
}
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}
#edit {
    margin-bottom: 20px;
}
#edit textarea {
    width: 65vw;
}

#font {
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#printarea {
    width: 100%;
    max-width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#printarea__header {
    display: none;
}
#printarea__header p {
    font-size: 18px;
}
#printarea p {
    position: relative;
    margin: 0;
    width: 100%;
}
#printarea span {
    border-top: 1px solid yellow;
    height: 0;
    display: block;
}
#printarea #lines {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#printarea span:first-child {
    margin-top: 0 !important;
}
#printarea span:nth-child(3n + 1) {
    border-top-color: #333333;
    margin-top: 2px;
}
#printarea span:nth-child(3n + 2) {
    border-top-style: dashed;
    border-top-color: rgba(0, 0, 0, .25);
    margin-top: calc(1.45em - 2px);
}
#printarea span:nth-child(3n + 3) {
    border-top-color: #333333;
    margin-top: calc(1.45em - 3px);
}
#printarea p.small {
    line-height: 1.2;
}
#printarea p.large {
    line-height: 1;
}
#printarea .small span:nth-child(3n + 2) {
    border-top-style: dashed;
    border-top-color: rgba(0, 0, 0, .25);
    margin-top: calc(1.45em - 2px);
}
#printarea .small span:nth-child(3n + 3) {
    border-top-color: #333333;
    margin-top: calc(1.45em - 3px);
}
#printarea .large span:nth-child(3n + 2) {
    border-top-style: dashed;
    border-top-color: rgba(0, 0, 0, .25);
    margin-top: calc(3.95em - 2px);
}
#printarea .large span:nth-child(3n + 3) {
    border-top-color: #333333;
    margin-top: calc(5.15em - 3px);
}
#instructions {
    padding-inline-start: 20px;
}
#sorrynotresponsive {
    display: none;
}
#footer {
    text-align: center;
}
@media (max-width: 550px) {
    #sorrynotresponsive {
        display: block;
    }
}
