@media print {
    body * {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }

    #printarea,
    #printarea * {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        float: left;
    }
    #printarea__header {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
    }
    #printarea__header p:first-child {
        position: absolute;
        left: 0;
        top: 0;
    }
    #printarea__header p:last-child {
        position: absolute;
        left: 400px;
        top: 0;
    }
    #printarea p.small {
        top: 40px;
    }
}