<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Vue</title>
        <script src="https://unpkg.com/vue"></script>
        <link href="stylesheet.css" rel="stylesheet">
        <link href="stylesheet.print.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <div id="header">
                <h1>Dot Printer</h1>
            </div>
            <div id="edit">
                <textarea v-model="message"></textarea>
            </div>
            <div id="font">
                <div>
                    <input type="radio" id="dot" value="KG Primary Dots" v-model="font" selected>
                    <label for="dot">Dots</label>
                </div>
                <div>
                    <input type="radio" id="dot-line" value="KG Primary Dots Lined" v-model="font">
                    <label for="dot-line">Dots Lined</label>
                </div>
                <div>
                    <input type="radio" id="dot-line-alt" value="KG Primary Dots Lined Alt" v-model="font">
                    <label for="dot-line-alt">Dots Lined Alt</label>
                </div>
                <div>
                    <input type="radio" id="dot-line-cursive" value="Learning Curve Dashed" v-model="font">
                    <label for="dot-line-cursive">Dots lined Cursive</label>
                </div>
                <div>
                    <input type="radio" id="ta-left" value="left" v-model="textAlign">
                    <label for="ta-left">Left</label>
                </div>
                <div>
                    <input type="radio" id="ta-center" value="center" v-model="textAlign" selected>
                    <label for="ta-center">Center</label>
                </div>
                <div>
                    <input type="radio" id="ta-right" value="right" v-model="textAlign">
                    <label for="ta-right">Right</label>
                </div>
                <div>
                    <input id="scale" v-model="scale">
                    <label for="scale">Font Size</label>
                </div>
            </div>
            <div id="print" :style="printStyle">
                <p v-for="line in lines" :style="lineStyle">{{ line }}</p>
            </div>
        </div>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Edit Me!',
                    font: 'KG Primary Dots',
                    scale: 50,
                    textAlign: 'center',
                },
                computed: {
                    lines: function () {
                        return this
                            .message
                            .split("\n")
                            .map(l => l.trim())
                    },
                    lineStyle: function () {
                        return {
                            fontSize: this.scale + 'px',
                            fontFamily: this.font
                        }
                    },
                    printStyle: function () {
                        return {
                            textAlign: this.textAlign,
                        }
                    },
                }
            })
        </script>
    </body>
</html>
